.bg-primary{
    background-color: #3B9CFF !important;
    color: #FFF;
}
header {
    background-image: url("/images/header.png");
    height: 250px;
    background-position: top center;
}

.header_contacts{
    font-size: 1.5rem;
    line-height: 1.5rem;
}
.header_contacts div{
    display: inline-block;
    line-height: 1.7rem;
}
.header_contacts div:first-child{
    position: absolute;
}
.header_contacts div:last-child{
    padding-left: 35px;
}

#header_languages ul>li{
    border: 1px solid #FFF;
    padding: 5px;
    border-radius: 5px;
    color: #FFF;
}
#header_languages ul>li>a{
    color:#FFF;
}
#header_languages ul:first-child{
    margin-bottom: 2px;
}

#header_welcome div:first-child{
    font-size: 3rem;
    margin-left: -20px;
}

#header_welcome>div>h3>span{
    font-size: 1rem;
    display: block;
}

#header_menu{
    background-color: #8c1a11;
    line-height: 25px;
}
#header_menu>nav, .red_color{
    background-color: #8c1a11;
}
#navbarmenulist > ul > li > a{
    padding-left: .3rem;
    padding-right: .3rem;
}
.navbar-nav{
    font-size: 1.1rem;
}
.menu_buttons{
    color: #5d0e07 !important;
    font-size: 0.7rem;
}
.menu_buttons_share{
    border: 1px solid #FFF;
    border-radius: 10px;
}

#featured_pc img{
    position: relative;
    max-height: 260px;
}

#featured_pc #featured_caption_pc{
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0.9rem;
    color: #FFF;
    background-color: #000;
    opacity: 0.8;
    font-size: 1.25rem;
    z-index: 1;
    padding: 1rem;
}

#featured_mobile img{
    max-height: 450px;
}

#featured_mobile{
    position: relative;
}

#featured_mobile>#featured_caption_mobile{
    position: absolute;
    height: 60%;
    bottom: 0;
    color: #FFF;
    background-color: #000;
    opacity: 0.8;
    font-size: 1rem;
    padding: 1rem;
}

.documentary>a>div{
    background: #000;
    opacity: 0.7;
    position:relative;
    bottom: 1.5rem;
    width: 318px;
}

.documentary>div.row{
    margin-top: -1.4rem;
    background: #EAEAEC;
    width: 318px;
    margin-left: 0.01rem;
    line-height: 40px
}

#feedback_captcha>div, #feedback_captcha>div>div>iframe{
    margin: 0 auto;
}

#mobile_logo_clicker{
    position:absolute;
    bottom: 0;
    height: 190px;
}
